<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <span class="component-text">
      <span>Our easy-to-use payment API has gone commercial</span>
      <br />
      <br />
      <span>Features:</span>
      <br />
      <span>• easy to track clients that owe you</span>
      <br />
      <span>• track payment status </span>
      <br />
      <span>• enable red warning (&quot;nuke&quot; status)</span>
      <br />
      <span>• custom UIDs per client</span>
      <br />
    </span>
  </div>
</div>
